
body {
background-color: #7395ae;
color: #5d5c61; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Times New Roman", Times, serif;
}



ol {list-style-type: lower-alpha;
padding: 5em;
    
}
